@model Lab9.Models.TicketOrder
@{
    ViewBag.Title = "Order Ticket";
}
<h3>Order Ticket</h3>

@using (Html.BeginForm("Order", "Ticket", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.FullName)
        @Html.TextBoxFor(m => m.FullName)
        @Html.ValidationMessageFor(m => m.FullName)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.EventDate)
        @Html.TextBoxFor(m => m.EventDate, "{0:yyyy-MM-dd}", new { type = "date" })
        @Html.ValidationMessageFor(m => m.EventDate)
    </div>
    <div>
        @Html.LabelFor(m => m.TicketsCount)
        @Html.TextBoxFor(m => m.TicketsCount)
        @Html.ValidationMessageFor(m => m.TicketsCount)
    </div>
    <button type="submit">Order</button>
}
