@model List<Lab12.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<h3>@ViewBag.Info</h3>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Назва</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Products" asp-action="Create" class="btn btn-success">Додати продукт</a>
