@model Lab9.Models.Feedback
@{
    ViewBag.Title = "Feedback";
}
<h3>Leave Feedback</h3>

@using (Html.BeginForm("Create", "Feedback", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, 6, 60, null)
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <button type="submit">Send</button>
}
